@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NET SendGrid Email Client</h1>

    @if(User.IsLoggedIn())
    {
        <p>Welcome @User.Name()!</p>
    }
    
    @if(!User.IsLoggedIn())
    {
        <p>Welcome to NET SendGrid Email Client</p>
        <p><a asp-area="" asp-controller="Home" asp-action="SignIn">Click here to sign in</a></p>
    }
</div>
